.firstSection {
  height: 100vh;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #043142;
  text-align: center;
  margin-top: 1.5rem;
}

.introContainer {
  display: flex;
  flex-direction: row;
  padding: 1.8rem 2rem;
  gap: 2rem;
  padding-bottom: 2.4rem;
}

.introContent {
  width: 55%;
  text-align: justify;
  font-size: 1.3rem;
  font-weight: 500;
}

.introContent p {
  margin-top: 0;
}

.introImg {
  width: 45%;
  display: flex;
  justify-content: center;
}

.introImg img {
  width: 95%;
  object-fit: cover;
  border-radius: 1rem;
}
